[Unit]
Requires=network.target
PartOf=chatquick.target

[Service]
Type=simple
User=chatquick
WorkingDirectory=/home/chatquick/chatquick

ExecStart=/bin/bash -lc 'bin/rails server -p $PORT -e $RAILS_ENV'

Restart=always
RestartSec=1
TimeoutStopSec=30
KillMode=mixed
StandardInput=null
SyslogIdentifier=%p

Environment="PATH=/home/chatquick/.rvm/gems/ruby-3.0.4/bin:/home/chatquick/.rvm/gems/ruby-3.0.4@global/bin:/home/chatquick/.rvm/rubies/ruby-3.0.4/bin:/home/chatquick/.rvm/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin:/home/chatquick/.rvm/bin:/home/chatquick/.rvm/bin"
Environment="PORT=3000"
Environment="RAILS_ENV=production"
Environment="NODE_ENV=production"
Environment="RAILS_LOG_TO_STDOUT=true"
Environment="GEM_HOME=/home/chatquick/.rvm/gems/ruby-3.0.4"
Environment="GEM_PATH=/home/chatquick/.rvm/gems/ruby-3.0.4:/home/chatquick/.rvm/gems/ruby-3.0.4@global"
